
@media screen and (min-width:992px){
#heder1{
	padding: 30px;
}

}  
@media (min-width:768px) and (max-width:991px ){
.col-md-12{
	margin-top: 15px;
}
#heder1{
	padding: 25px;
}
}
@media  screen and (max-width:767px){

.col-sm-12{
	margin-top: 15px;
}
#heder1{
	padding: 25px 10px 10px 10px ;
	margin-top: 8px;
}
} 
.card{
	background:secondary;
}

#infospan{
	
	float: right;
	
}


